@import "./style/mixins.scss";

.App {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 15px 0;
    width: 375px;
    height: 50px;
    text-align: center;
    line-height: 1.3em;
    border: 1px solid black;
  }

  &__main {
    display: flex;
    justify-content: center;
  }

  &__leftFild {
    visibility: hidden;
    width: 340px;

    @include MobileScreen {
      display: none;
    }
  }
}
